/* reset */
body , p , input{
    margin: 0;
    padding: 0;
}

/* front */

.front{
    min-width: 500px ;
    width: 1000px;
    margin-left: 300px;
    margin-right: 300px;
}

/* media*/

@media (max-width:1400px){
    .front{
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (max-width:1200px){
    .front{
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (max-width:1100px){
    .front{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width:900px){
    .front{
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width:800px){
    .front{
        margin-left: 0px;
        margin-right: 0px;
    }
}
/* front-top */

.front-top{
    height: 100;
}

#front-top-title-img{
    float: left;
}

.front-top-title > p{
    padding-top: 40px;
}

.front-top-title > input{
    float: right;
}

